

body {
    background-image: url(images/592678.jpg);
    -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
      background-position-x: center;
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: bold;
      
    }
    #instructions {
        text-align: center;

    }
    #displayHeading {
        text-align: center;
    }
    #begin {
       
        border-radius: 10px;
        text-align: center;
        
    }
    #displayTimer {
       text-align: center;
    }



#contain {
    margin-left: 20%;
    margin-right: 20%;
}
.jumbotron {
    padding-top: 5%;
    margin-top: 5%;
    width: 100%;
    height: auto;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-radius: 20px;
    
    opacity: .95;
}
#timeUpGif {
   text-align: center;
}
.timeUpGif {
    text-align: center;
}
.inplayQuestion {
    text-align: center;
}

#endGameGif {
    width: 60%;
    height: 60%;
    border-radius: 5%;
    border-style: solid;
    border-color: #212529;
    border-width: 7px;
}

.img-thumbnail {
    border-style: solid;
    border-color: #212529;
    border-width: 7px;
    border-radius: 10px;
    opacity: 1;
    width: 100%;
    height: auto;
  
    }
    #timeUpGif1 {
       
        width: 80%;
        height: auto;
        margin-bottom: 0;
        padding-bottom: 0;
        border-radius: 5%;
        border-style: solid;
        border-color: #212529;
        border-width: 7px;
    }

    #correctGif{
        width: 60%;
        height: 60%;
        border-radius: 5%;
        border-style: solid;
        border-color: #212529;
        border-width: 7px;
        
    }
   
@media screen and (max-width: 640px) {

body {  background-attachment: fixed;
    
}

#timeUpGif1 {
    width: 100%;
    height: auto;
    margin-bottom: 15%;
    align-self: center;
}
#endGameGif {
    width: 100%;
    height: auto;


}
#correctGif{
    width: 100%;
    height: auto;
    margin-bottom: 15%;
}

#contain {
    margin-left: 5%;
    margin-right: 5%;
}


#row1 { 
   
    margin-right: 0px;
    margin-left: 0px;
}

.crystal1 {
   width: 43%;
   padding-bottom: 3%;

   
  
}


#pic {
    width: 100%;
 }
 #pic5 {
     width: 100%;
 }

 valueB{
     width: 100%;
   
 }
}